.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://wallpaperaccess.com/full/3136240.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
